@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #18870e;
  --secondary-color: #45dc38;
  --tertiary-color: #61eb54;
  --text-color: #333;
  --background-color: #f6fff5;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
}

.forme {
  position: absolute;
  top: -350px;
  right: 0px;
  z-index: -1;
}

a:hover {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  transition: color 0.3s;
}

.header {
  background-color: rgba(190, 252, 184, 0.5);
  backdrop-filter: blur(100px);
}

.logo {
  /* font-size: 2rem; */
  font-weight: bold;
  color: var(--primary-color);
}

.button {
  background-color: var(--secondary-color);
  box-shadow: 8px 8px rgba(69, 220, 56, 0.25);
  transition: background-color 0.3s;
}

.button:hover,
.button-filter:hover {
  background: #8af580;
  color: #000;
}

.salutation {
  font-size: 1.5rem;
}

.name {
  color: var(--primary-color);
}

.competences {
  background-color: var(--background-color);
}

.title {
  font-size: 2.5rem;
}

.option label {
  font-size: 1.5rem;
}

.projects {
  background-color: #8af580;
}

.testimonials {
  background-color: var(--background-color);
}

.contact input {
  border: 1px solid #21a715;
}

footer .top {
  background: var(--tertiary-color);
}
